/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==");

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

:root {
    --font-syle-one:'Lato', sans-serif;
    --text-color-one:#fff;
    --text-color-two:#ddd;
    --text-color-three:#191818;
    --bg-main:#ffffff;
    --bg-one:#F7F7F7;
    --bg-two:rgb(233, 231, 231);
    --box-shadow-one:#ddd;
}